{% extends 'base.html' %} {% load static %} {% load humanize %} {% block pageContent %}
<section class="py-4">
<div class="container">
     <h3 class="fw-bolder text-center">Free Product Report</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
<!--    <div class="card rounded-0 mb-3">-->
<!--        <div class="card-header py-1">-->
<!--            <div class="card-title mb-0">Add Monthly Commission Bill</div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <div class="container-fluid">-->
<!--                <div class="text-end mb-1">-->
<!--                    <button-->
<!--                      class="btn btn-sm btn-primary rounded-0 bg-gradient-primary"-->
<!--                      type="button"-->
<!--                      id="create_new"-->
<!--                    >-->
<!--                      <i class="fa fa-plus"></i> Add New-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
        <div class="card rounded-0 mb-3">
            <div class="card-header py-1">
                <div class="card-title mb-0">Filter Free Product Report</div>
            </div>
            <div class="card-body">

                <form method="GET">
                <section class="site_filter">
                <div class="container-fluid">
                    <div class="row justify-content-center">


                        <div class="col">
                            <div class="form-group">
                                <label for="date">Start Date</label>
                                <input type="date" class="form-control mr-sm-3" id="start_date" name="start_date"
                                       value={{start_date}} required>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="date">End Date</label>
                                <input type="date" class="form-control mr-sm-3" id="end_date" name="end_date"
                                       value={{end_date}} required>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="WorkName">Check Brand</label>
                                <select class="form-control" id="check_brand" name="check_brand">
                                    <option value="" disabled selected>Select Brand Here</option>
                                    {% for item in brand %}
                                    <option value="{{item.name}}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <div class="text-center mt-3">
                <button class="btn btn-success">View</button>
            </div>
        </form>
            </div>
    </div>

      <br>
    <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <table style="width: 100%; border-collapse: collapse;">
                        <tbody>
                        <tr>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><h6>Date Range: {{start_date }} To {{end_date}}</h6></td>
                            <td style="width: 30%;">&nbsp;</td>
                            <td style="width: 30%;  text-align: right;">
                                {% if free %}

                                {% endif %}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <br>
                    <table class="table table-bordered table-striped" style="border-collapse: collapse; width: 100%;" border="1" cellpadding="8">
                        <tbody>
                        <tr>
                            <td style="width: 5%;text-align:center;"><strong>SL</strong></td>
                            <td style="width: 20%;text-align:center;"><strong>Product</strong></td>
                            <td style="width: 20%;text-align:center;"><strong>Brand</strong></td>
                            <td style="width: 20%;text-align:center;"><strong>Quantity</strong></td>
                            <td style="width: 15%;text-align:center;"><strong>Price</strong></td>
                            <td style="width: 15%;text-align:center;"><strong>Amount</strong></td>

                        </tr>
                         {% for item in free %}
                        <tr>
                            <td style="width: 5%;">
                                {{forloop.counter}}
                            </td>
                            <td style="width: 20%;">
                                {{item.product__name}}
                            </td>
                            <td style="width: 20%;">
                                {{item.brand}}
                            </td>
                            <td style="width: 20%;">
                                <input type="text" class="input-fields-to-sum form-control form-control-sm rounded-0" name="qty" id="qty" value="{{item.sum}}" readonly>
                            </td>
                            <td style="width: 15%;">
                                 {{item.price}}
                            </td>
                            <td style="width: 15%; text-align: right;">
                                <input type="text" class="input-box-to-sum form-control form-control-sm rounded-0" name="total_amount" id="total_amount" value="{% widthratio item.sum 1 item.price %}" readonly>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" class="text-end">Total Free Quantity</th>
                                <th class="text-start fw-bolder">
                                    <input type="text" class="form-control form-control-sm rounded-0 total" name="total_qty" id="total_qty" value="" readonly>
                                </th>
                                <th colspan="1" class="text-end">Total Amount</th>
                                <th class="text-start fw-bolder">
                                    <input type="text" class="form-control form-control-sm rounded-0 total" name="total" id="total" value="" readonly>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
    </div>
</div>
</section>
 {% endblock pageContent %} {% block ScriptBlock %}
<script>
  $(function () {
    $("#create_new").click(function () {
      uni_modal(
        "<i class='fa fa-plus'></i> Add New Bill",
        "{% url 'manage-commission-bill' %}"
      );
    });
    $(".edit-data").click(function () {
      uni_modal(
        "<i class='fa fa-edit'></i> Edit Commission bill Details",
        $(this).attr("data-url")
      );
    });
    $(".view_image").click(function () {
      var img = $(this).attr("data-img-url");
      $("#viewer_modal #img-viewer-field").attr("src", img);
      $("#viewer_modal").modal("show");
    });
    $(".delete-data").click(function () {
      _conf("Are you sure to delete this Bill?", "delete_bill", [
        "'" + $(this).attr("data-url") + "'",
      ]);
    });
    $("#product-tbl").find("td, th").addClass("px-2 py-1 align-middle");
    $("#product-tbl").DataTable({
      columnDefs: [
        {
          orderable: false,
          targets: [4],
        },
      ],
      lengthMenu: [
        [25, 50, 100, -1],
        [25, 50, 100, "All"],
      ],
    });
  });

  function delete_bill(url) {
    var _this = $("#confirm_modal .modal-body");
    $(".err-msg").remove();
    var el = $("<div>");
    el.addClass("alert alert-danger err-msg");
    el.hide();
    start_loader();
    $.ajax({
      headers: {
        "X-CSRFToken": "{{csrf_token}}",
      },
      url: url,
      dataType: "JSON",
      error: (err) => {
        console.log(err);
        alert("an error occurred.");
        end_loader();
      },
      success: function (resp) {
        if (resp.status == "success") {
          location.reload();
        } else if (!!resp.msg) {
          el.html(resp.msg);
          _this.prepend(el);
          el.show();
        } else {
          el.html("An error occurred");
          _this.prepend(el);
          el.show();
        }
        end_loader();
      },
    });
  }


$(document).ready(function() {
   calculateTotals();

    $(".input-fields-to-sum").on('input', function() {
        calculateTotals();
    });
    $(".input-box-to-sum").on('input', function() {
        calculateTotals();
    });
});

function calculateTotals() {
   // walk on input fields with class, calculate sum and put it in total field
   // input can contain invalid numbers, handle errors when parsing
    var arr = document.getElementsByClassName('input-fields-to-sum');
    var arr2 = document.getElementsByClassName('input-box-to-sum');
    var tot1=0;
    var tot2=0;
        for(var i=0;i<arr.length;i++){
            if(parseFloat(arr[i].value))
                tot1 += parseFloat(arr[i].value);
        }
        for(var i=0;i<arr2.length;i++){
            if(parseFloat(arr2[i].value))
                tot2 += parseFloat(arr2[i].value);
        }

    var result = (tot1);
    $("#total_qty").val(result);
    $("#total").val(tot2);
}

function parseNumber(str, defaultValue) {
    if (str !== undefined && str.length) {
        var parsed = parseFloat(str.replace(',','.').replace(/\s/g,'').replace(/\&nbsp\;/g,''));
        if (isNaN(parsed)) return defaultValue;
        return parsed;
    }
    return defaultValue;
}

</script>
{% endblock ScriptBlock %}