{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">
    <h2 class="fw-bolder">Welcome, {{request.user.first_name}}&nbsp;{{request.user.last_name}}!</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-info bg-gradient border-0 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-tshirt"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{category|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Category</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-dark bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-soap"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{products|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Products</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-success bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-file-invoice"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{todays_transaction|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Today's Transactions</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-warning bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{todays_sales|floatformat|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Today's Sales</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-primary bg-opacity-75 text-light">
                <a href="{% url 'daily-report' %}" style="color: white">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mx-0 w-100 align-items-center">
                                <div class="col-3">
                                    <i class="fs-1 text-light fas fa-clipboard-list"></i>
                                </div>
                                <div class="col-9">
                                    <h1 class="text-end">Click</h1>
                                </div>
                                <div class="col-12 text-end"><b>Daily Report</b></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-danger bg-opacity-75 text-light">
                <a href="{% url 'low-stock' %}" style="color: white">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mx-0 w-100 align-items-center">
                                <div class="col-3">
                                    <i class="fs-1 text-light fa fa-list"></i>
                                </div>
                                <div class="col-9">
                                    <h1 class="text-end">Click</h1>
                                </div>
                                <div class="col-12 text-end"><b>Low Stock</b></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
 {% endblock pageContent %} {% block ScriptBlock %}
<script>
</script>
{% endblock ScriptBlock %}