{% load static %}
<div class="container-fluid">
  <form action="" id="brand-form">
    <input type="hidden" name="id" value="{{brand.id}}" />
    <div class="mb-3">
      <label for="name" class="control-label">Brand Type</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control form-control-sm rounded-0"
        value="{{brand.name}}"
        required
      />
    </div>
    <!-- <div class="mb-3">
      <label for="price" class="control-label">Price per kg.</label>
      <input
        type="number"
        id="price"
        name="price"
        class="form-control form-control-sm rounded-0 text-end"
        value="{{price.price}}"
        required
      />
    </div> -->
    <div class="mb-3">
      <label for="category" class="control-label">Category</label>
      <select name="category" id="category" class="form-select form-control-sm rounded-0">
          <option value="" disabled selected></option>
          {% for item in category %}
          <option value="{{item.pk}}">{{item.name}}</option>
          {% endfor %}
      </select>
    </div>
  </form>
</div>
<script>
  $(function () {
    $("#brand-form").submit(function (e) {
      e.preventDefault();
      var _this = $(this);
      $(".err-msg").remove();
      var el = $("<div>");
      el.addClass("alert alert-danger err-msg");
      el.hide();
      if (_this[0].checkValidity() == false) {
        _this[0].reportValidity();
        return false;
      }
      start_loader();
      $.ajax({
        headers: {
          "X-CSRFToken": "{{csrf_token}}",
        },
        url: "{% url 'save-brand' %}",
        data: new FormData($(this)[0]),
        cache: false,
        contentType: false,
        processData: false,
        method: "POST",
        type: "POST",
        dataType: "json",
        error: (err) => {
          console.log(err);
          alert("An error occured", "error");
          end_loader();
        },
        success: function (resp) {
          if (typeof resp == "object" && resp.status == "success") {
            location.reload();
          } else if (resp.status == "failed" && !!resp.msg) {
            el.text(resp.msg);
          } else {
            el.text("An error occured", "error");
            end_loader();
            console.err(resp);
          }
          _this.prepend(el);
          el.show("slow");
          $("html, body, .modal").scrollTop(0);
          end_loader();
        },
      });
    });
  });
</script>
