{% extends 'base.html' %}{% load static %}{% load humanize %}{% block pageContent %}
<style>
    #laundry-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<section class="py-4">
    <div class="container">
        <div class="card rounded-0 mb-3">
            <div class="card-header py-1">
                <div class="card-title mb-0">Filter Advance Report</div>
            </div>
            <div class="card-body">

                <form method="GET">
                    <section class="site_filter">
                        <div class="container-fluid">
                            <div class="row justify-content-center">


                                <div class="col">
                                    <div class="form-group">
                                        <label for="date">Start Date</label>
                                        <input type="date" class="form-control mr-sm-3" id="start_date" name="start_date"
                                               value={{start_date}} required>

                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="date">End Date</label>
                                        <input type="date" class="form-control mr-sm-3" id="end_date" name="end_date"
                                               value={{end_date}} required>

                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="WorkName">Check Brand</label>
                                        <select class="form-control" id="check_brand" name="check_brand">
                                            <option value="All">All</option>
                                            {% for item in brand %}
                                            <option value="{{item.pk}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <div class="text-center mt-3">
                        <button class="btn btn-success">View</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card rounded-0 shadow mb-3">
            <div class="card-body">
                <div class="container-fluid">
                    <table style="width: 100%; border-collapse: collapse;">
                        <tbody>
                        <tr>

                        </tr>

                        <tr>
                            <td style="width: 30%;"><h6>Date Range: {{start_date }} To {{end_date}}</h6></td>
                            <td style="width: 30%;">&nbsp;</td>
                            <td style="width: 30%;  text-align: right;">
                                {% if commission %}

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-bordered table-striped" style="border-collapse: collapse; width: 100%;" border="1" cellpadding="8">
                        <tbody>
                        <tr>

                        </tr>
                         {% for item in online %}
                        <tr>

                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" class="text-center">Total Sale</th>
                                <th class="text-end fw-bolder">{{gross|floatformat:2|intcomma}}</th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Total Extra</th>
                                <th class="text-end fw-bolder">{{extra|floatformat:2|intcomma}}</th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Total Cost</th>
                                <th class="text-end fw-bolder">{{cost|floatformat:2|intcomma}}</th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Total Damage</th>
                                <th class="text-end fw-bolder">{{knockout|floatformat:2|intcomma}}</th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Total Expense</th>
                                <th class="text-end fw-bolder">{{outlay|floatformat:2|intcomma}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>


        <form action="" id="profit-form">
            <input type="hidden" name="id" value="{{surplus.id}}">
            <input type="hidden" name="code" value="{% if surplus.code  %}{{surplus.code}}{% else %}generate{% endif %}">
            <input type="hidden" name="status" value="{% if surplus.status  %}{{surplus.status}}{% else %}0{% endif %}">
            <input type="hidden" name="month" value="{% if surplus.month  %}{{surplus.month}}{% else %}0{% endif %}">
            <div class="card rounded-0 mb-3">
                <div class="card-header">
                    <div class="card-title py-1">Surplus Details</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        {% if surplus.code %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="" class="control-label">Charge Code</label>
                                <div class="h5"><b>{{surplus.code}}</b></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="month" class="control-label">Month</label>
                                <select
                                    type="text"
                                    id="month"
                                    name="month"
                                    class="form-select form-select-sm rounded-0"
                                    required
                                  >
                                    <option disabled selected>Please Select Month First</option>
                                    {% if bills.month == '1' %}
                                    <option value="1" selected>January</option>
                                    {% else %}
                                    <option value="1">January</option>
                                    {% endif %} {% if bills.month == '2' %}
                                    <option value="2" selected>February</option>
                                    {% else %}
                                    <option value="2">February</option>
                                    {% endif %} {% if bills.month == '3' %}
                                    <option value="3" selected>March</option>
                                    {% else %}
                                    <option value="3">March</option>
                                    {% endif %} {% if bills.month == '4' %}
                                    <option value="4" selected>April</option>
                                    {% else %}
                                    <option value="4">April</option>
                                    {% endif %} {% if bills.month == '5' %}
                                    <option value="5" selected>May</option>
                                    {% else %}
                                    <option value="5">May</option>
                                    {% endif %} {% if bills.month == '6' %}
                                    <option value="6" selected>June</option>
                                    {% else %}
                                    <option value="6">June</option>
                                    {% endif %} {% if bills.month == '7' %}
                                    <option value="7" selected>July</option>
                                    {% else %}
                                    <option value="7">July</option>
                                    {% endif %} {% if bills.month == '8' %}
                                    <option value="8" selected>August</option>
                                    {% else %}
                                    <option value="8">August</option>
                                    {% endif %} {% if bills.month == '9' %}
                                    <option value="9" selected>September</option>
                                    {% else %}
                                    <option value="9">September</option>
                                    {% endif %} {% if bills.month == '10' %}
                                    <option value="10" selected>October</option>
                                    {% else %}
                                    <option value="10">October</option>
                                    {% endif %} {% if bills.month == '11' %}
                                    <option value="11" selected>November</option>
                                    {% else %}
                                    <option value="11">November</option>
                                    {% endif %} {% if bills.month == '12' %}
                                    <option value="12" selected>December</option>
                                    {% else %}
                                    <option value="12">December</option>
                                    {% endif %}
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="costs" class="control-label">Total Cost</label>
                                <input type="text" onblur="findTotal()" class="form-control form-control-sm rounded-0 out" name="total_cost" id="costs" value="{{cost}}" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="damage" class="control-label">Total Damage</label>
                                <input type="text" onblur="findTotal()" class="form-control form-control-sm rounded-0 out" name="total_damage" id="damage" value="{{knockout}}" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="extra" class="control-label">Total Extra</label>
                                <input type="text" onblur="findTotal()" class="form-control form-control-sm rounded-0 in" name="total_extra" id="extra" value="{{extra}}" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="expense" class="control-label">Total Expense</label>
                                <input type="text" onblur="findTotal()" class="form-control form-control-sm rounded-0 out" name="total_expense" id="total_expense" value="{{outlay}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="sale" class="control-label">Total Sale</label>
                                <input type="text" onblur="findTotal()" class="form-control form-control-sm rounded-0 in" name="total_sale" id="total_sale" value="{{gross}}" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="profit" class="control-label">Profit Margin</label>
                                <input type="text" class="form-control form-control-sm rounded-0 margin" name="margin" id="margin" value="{{surplus.margin}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-1 text-center mt-1">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" id="pay_later">Save</button>
<!--                    <button class="btn btn-success btn-sm rounded-0" id="laundry-submit-btn" form="laundry-form"><i class="fa fa-save"></i> Pay</button>-->
                </div>
            </div>
        </form>
    </div>
</section>

 {% endblock pageContent %} {% block ScriptBlock %}
<script>
    function calc_total() {
        var sub_expense = 0
        var gtotal = 0

        $('#expense_list tbody tr').each(function() {
            var buy = $(this).find('[name="expense_amount[]"]').val()

            buy = buy > 0 ? buy : 0;
            sub_expense += parseFloat(parseFloat(buy))
            gtotal += parseFloat(parseFloat(buy))
            $(this).find('.expense_total').text(parseFloat(parseFloat(buy)).toLocaleString('en-US'))
        })
        $('.sub-total-expense').text(parseFloat(sub_expense).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }))
        $('[name="total_amount"]').val(gtotal)


        $('.gtotal').text(parseFloat(gtotal).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }))
        $
    }
    $(function() {
        calc_total()
        $('#expenses').select2({
            placeholder: "Please Select Expenses Here",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-0"
        })
        $('#check_brand').select2({
            placeholder: "Please Select Brand Here",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-2"
        })

        $('#pay_later').click(function() {

            $('#profit-form').submit()
        })

        $('#expense_list tbody').find('[name="expense_amount[]"]').on('input change', function() {
            calc_total()
        })

        $('#expense_list tbody').find('.rem-expense').click(function() {
            if (confirm("Are you sure to remove this item?") == true) {
                $(this).closest('tr').remove()
                calc_total()
            }
        })

        $('#add_expense').click(function() {
            var pid = $('#expenses').val()
            if (pid < '1') {
                return false
            }

            var expense_name = $('#expenses option[value="' + pid + '"]').text()
            var tr = $($('noscript#product-clone').html()).clone()
            tr.find('.expense_type').text(expense_name)
            tr.find('[name="expense_id[]"]').val(pid)
            tr.find('[name="expense_note[]"]').val()

            $('#expense_list tbody').append(tr)
            calc_total()
            $('#expenses').val('').trigger('change')
            tr.find('[name="expense_amount[]"]').on('input change', function() {
                calc_total()
            })

            tr.find('.rem-expense').click(function() {
                if (confirm("Are you sure to remove this item?") == true) {
                    tr.remove()
                    calc_total()
                }
            })
        })
        $('#profit-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }

            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-surplus' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.replace('{% url "view-surplus" %}/' + resp.id)
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })



    function findTotal(){
        var arr = document.getElementsByClassName('out');
        var tot1=0;
        var tot2 =0;
        for(var i=0;i<arr.length;i++){
            if(parseFloat(arr[i].value))
                tot1 += parseFloat(arr[i].value);
        }
        var arr2 = document.getElementsByClassName('in');
        for(var i=0;i<arr2.length;i++){
            if(parseFloat(arr2[i].value))
                tot2 += parseFloat(arr2[i].value);
        }

        var tot = parseFloat(parseFloat(tot2) - parseFloat(tot1))
        document.getElementById('margin').value = tot;
    }

</script>
{% endblock ScriptBlock %}